<%- include ('partials/_header') %>
<div class="container">
    <div class="col"></div>
    <div class="col-md-10">
        <h1><%= novela.title %></h1>
        <h4><%= novela.section %></h4>
        <h6><%= novela.author %></h6>
        <div>
            <%= novela.content%>
        </div>
    </div>
    <div class="col"></div>
</div>
<%- include ('partials/_footer') %> 